h1{
    border-style: solid;
    border-radius : 15px ; width: 500px;
    margin: auto;
    border-width: 4px;
    text-align: center;
}

h2,h3 {
    text-align: center;
}

p {
    text-align: justify;
    text-align: center;
    border: 3px solid ;
    border-radius: 15px; width: 700px; height: auto;
    margin: auto;
    ;
}

div {
    text-align: center;
}
body {
    background-color: rgb(255, 251, 234);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}